* {
    font-family: 'Courier New';
}

div{
    background-color: hsl(0,100%,75%);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size:16px;
}

span { 
    background-color: hsl(204, 100%, 75%);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size:16px;
}

.block{
    width: 150px;
    height: 150px;
    background-color: hsl(0,100%,75%);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size:16px;
}

.blockspan {
    display:block;
    width: 150px;
    height: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size:16px;
}

.inline {
    width: 150px;
    height: 150px;
    background-color: hsl(0,100%,75%);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size:16px;
    display:inline;
}
.inlinespan {
    width: 150px;
    height: 150px;
    background-color:  hsl(204, 100%, 75%);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size:16px;
    display:inline;
}

.inline-block-span {
    width: 150px;
    height: 150px;
    background-color:  hsl(204, 100%, 75%);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size:16px;
    display:inline-block;
}
.inline-block {
    width: 150px;
    height: 150px;
    background-color:  hsl(0,100%,75%);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size:16px;
    display:inline-block;
}