.emmet {
    margin: 10px;
    margin: 19;
    margin: 10px;

    margin: 10px; 20px

    margin: 0 20px;

    background-color::after;
    background-color: #0000000;   
    font-weight: 400;
    font-weight: 600; 

    padding: 10 px; 
}